html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f5cc6f;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;

}

nav ul li a:hover {
    color: #5b48ef;
    cursor: pointer;
}


section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 500px;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}